:root {
  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
  --background-color: #fff;
  --primary-color: #212121;
  --logo-main-color: #000;
  --logo-secondary-color: #2196f3;
  --small-text-color: #757575;
  --background-extra: #f5f4fa;
  --footer-background: #2f303a;
}

body {
  font-family: var(--primary-font, --secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  color: var(--primary-color);
  background-color: var(--background-color);
  letter-spacing: 0.03em;
  width: 1600px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding: 0px 200px;
}
.section {
  padding: 47px 0px;
}
/*=====header+footer=====*/
.heading-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ececec;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-main-color);
  padding: 0px 93px 0px 25px;
}
.logo-blue {
  color: var(--logo-secondary-color);
}

/* navigation */
.menu {
  display: inline-flex;
  justify-content: space-between;
  padding: auto 0px auto 0px;
}
.menu-item {
  margin: 0px 50px 0px 0px;
}
.menu-item:last-child {
  margin-right: 0px;
}
.navigation {
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.navigation:hover {
  color: var(--logo-secondary-color);
}
.active {
  color: var(--logo-secondary-color);
}
/* contacts */
.contacts-in-header {
  display: inline-flex;
  justify-content: space-between;
  padding: 32px 0px 15px 331px;
}
.contact {
  color: var(--small-text-color);
  font-style: normal;
}
.contact:hover {
  color: var(--logo-secondary-color);
}
.contact-info {
  display: flex;
  margin: 0px 50px 0px 0px;
}
.contact-info:last-child {
  margin-right: 0px;
}
.contact-adress {
  color: var(--background-color);
  font-style: normal;
}
/*=====main content portfolio=====*/
.project-portfolio-navigation {
  display: flex;
  justify-content: center;
}
.portfolio-navigation-item {
  margin: 0px 8px 50px 8px;
}
.portfolio-navigation-item:last-child {
  margin-right: 0px;
}
.portfolio-navigation-item:first-child {
  margin-left: 0px;
}
.button {
  color: var(--primary-color);
  font-size: 16px;
  text-align: center;
  line-height: 1.625;
  background: var(--background-extra);
  border-radius: 4px;
  border: 0px solid var(--background-extra);
}
.button:last-child {
  margin: 0px;
}

.button:hover {
  color: var(--background-color);
  background: var(--logo-secondary-color);
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
  border: 1px solid var(--logo-secondary-color);
}
/* ====project-samples ====*/
.project-examples {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-sample {
  margin: 15px 30px 15px 0px;
  border: 1px solid #eeeeee;
}
.project-sample:nth-child(2n + 1) {
  margin-right: 0px;
}
.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  justify-content: flex-start;
  margin: 20px 24px 4px 24px;
}
.projects-type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--small-text-color);
  justify-content: flex-start;
  margin: 0px 24px 20px 24px;
}
/*======main content studio======*/
.main-page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--footer-background);
  align-items: center;
}
.main-title {
  font-size: 44px;
  font-style: black;
  font-weight: 900;
  line-height: 1.364;
  color: var(--background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--background-color);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;
  background: var(--logo-secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
}
/*=====compamy values section=====*/
.company-values-section {
  display: inline-flex;
  justify-content: space-between;
}
.company-values {
  font-weight: 700;
  text-transform: uppercase;
}
.company-values-description {
  font-weight: 400;
  line-height: 1.71;
  color: var(--small-text-color);
}
.value {
  margin: 10px 30px 0px 0px;
}
.value:last-child {
  margin-right: 0px;
}
/*=====what we do section=====*/
.what-we-do-content {
  display: flex;
  justify-content: space-between;
}
.what-we-do-content-item {
  display: flex;
  margin: 50px 30px 0px 0px;
}
.what-we-do-content-item:last-child {
  margin-right: 0px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0px;
}
/*======our team section====== */
.our-team {
  background-color: var(--background-extra);
}
.team-section-content {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.team-section-content-item {
  width: calc((100%-90px) / 4);
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}
.team-section-content-item:not(:first-child) {
  margin-left: 30px;
}
.team-member {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin: 30px 60px 10px;
}
.team-member-role {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--small-text-color);
  text-align: center;
  margin: 0px 70px 30px;
}
/*===== footer flex =====*/
.footer {
  background-color: var(--footer-background);
}
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--background-color);
}
.contacts-content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.contacts-footer {
  display: flex;
  flex-direction: column;
}
